pre {
	font-family: 'Lucida Console', monospace;
	color: #37FF2E;
	text-align: left;
	font-size:14px;
}
.list{
	/*text-indent: 3vw;*/
	margin-left: 3vw;
}
body{
	background-color: black;
	max-width: 98vw;
}

input[type=text] {
	border: none;
	background-color: black;
	font-family: 'Lucida Console', monospace;
	color: #37FF2E;
}



/*.typingEffect{
	overflow: hidden;
	white-space: nowrap;
	margin: 0;
	letter-spacing: .1em;
	animation: typing 4s steps(40, end);
}

@keyframes typing{
	from{ width: 0}
	to { width: 100%}
}*/